<div class="flex flex-col gap-4">
  <div>
    <div class="ml-4 flex items-center text-sm">
      <ng-icon class="text-lg text-blue-500" name="arrowUp" />
      ブックマークバーにドラッグ & ドロップ
    </div>

    <div class="flex">
      <a
        class="flex cursor-grab items-center rounded-l bg-blue-500 px-4 text-lg text-white transition hover:bg-blue-600 active:cursor-grabbing"
        [href]="code() | bookmarklet | safeUrl"
        (click)="$event.preventDefault()"
      >
        <ng-icon name="link" />
        <span class="sr-only">{{ name.trim() }}</span>
      </a>
      <code
        class="flex-grow overflow-auto whitespace-nowrap bg-gray-800 p-2 text-sm text-gray-200"
        >{{ code() | bookmarklet }}</code
      >
      <button
        class="flex items-center rounded-r bg-gray-400 px-4 text-lg text-white transition hover:bg-gray-500"
        (click)="copyToClipboard()"
      >
        <ng-icon name="copy" />
      </button>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex flex-col">
      <label for="name" class="text-sm text-gray-500">タイトル</label>
      <input
        id="name"
        class="w-1/2 rounded border border-gray-300 p-2 outline-none sm:w-1/3"
        type="text"
        placeholder="Bookmarklet"
        [(ngModel)]="name"
      />
    </div>

    <ngs-code-editor
      [theme]="editorTheme"
      [codeModel]="codeModel"
      [options]="editorOptions"
      (valueChanged)="code.set($event)"
    />
  </div>

  <div>
    <button
      class="flex items-center gap-2 rounded bg-blue-500 px-4 py-2 text-white transition hover:bg-blue-600"
      (click)="runCode()"
    >
      <ng-icon name="play" />
      実行
    </button>
  </div>
</div>
